

body {
    font-family: sans-serif;
    background: #f3f3f3;
    margin: 0;
    text-align: center;
    direction: rtl;
}

header {
    background: #006241;
    color: white;
    padding: 15px;
}

.menu {
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 15px;
    margin: 15px;
}

.item {
    background: white;
    padding: 30px;
    border-radius: 50px;
    width: 220%;               
    max-width: 500px;
}

button {
    background: #006241;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;              
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}


.cart {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}





